<apex:page controller="CoreResourceTimeLastWeek">
    <apex:pageBlock >
        <apex:pageBlockTable value="{!CoreResourceTime}" var="crt">         
            <apex:column headerValue="Manager" value="{!crt.pse__Resource__r.ReportsTo.Name}"/>
            <apex:column headerValue="Resource Name" value="{!crt.pse__Resource__r.Name}"/>            
            <apex:column headerValue="Project Name" value="{!crt.pse__Project__r.Name}"/>
            <apex:column headerValue="Hours" value="{!crt.pse__Total_Hours__c}"/>
        </apex:pageBlockTable>
      <!--  <apex:dataList type="a" value="{!CoreResourceTime}" var="crt">
            <apex:outputText value="{!crt.pse__Resource__r.ReportsTo.Name}"></apex:outputText>
        </apex:dataList> -->
    </apex:pageBlock>
 
 
 
</apex:page>