<apex:page controller="KPIMaintenanceDateController">
    <apex:form >
        <apex:panelGroup >
            <apex:pageBlock title="Select Fiscal Quarter"> 
                <apex:selectList value="{!selectedQuarterName}" size="1">
                    <apex:selectOptions value="{!futureQuarters}"/>
                </apex:selectList>
                <apex:commandButton value="Edit Values" action="{!loadEditor}"/>
            </apex:pageBlock>
        </apex:panelGroup>
    </apex:form>
</apex:page>