<apex:page controller="TestProjectGenerator">
    <apex:form >
        <apex:outputPanel >
            <apex:outputText value="{!getPrevFQ}"/>
            <apex:commandButton action="{!createProjects}"  value="Generate"/>
            <apex:commandButton action="{!updateProjects}"  value="Update"/>
            <apex:commandButton action="{!destroyProjects}"  value="Destroy"/>
        </apex:outputPanel>
    </apex:form>
</apex:page>